<!DOCTYPE html>
<body>
    <center>
        {{#if res.id}}
        <div class="eventitem event-container">
            <img class="eventitemimg" src="{{res.pic}}" />
            <h1 class="eventitemspan">{{res.title}}</h1>
            <h3 class="eventitemspan">{{res.date}} {{res.time}}</h3>
            <h3 class="eventitemspan">{{res.descr}} Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint rerum vero facilis et a blanditiis quia iusto, quae debitis dolore, provident eaque fugiat architecto accusantium nemo itaque voluptatem eveniet cupiditate.</h3>
            {{> attends}}
            {{> comments}}
            {{> reviews}}
        </div>
        {{/if}}
    </center>
</body>
</html>